/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

.logo_image {
  float:right;
  display: flex;
}


/* Navigation Bar */
nav {
    background: #8B0000;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 10px;
    float:center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Header Section */
header {
    background: #f4f4f4;
    color: #333;
    padding: 60px 0;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.call-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.call-button:hover {
    background: #555;
}

/* Section Styles */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.service {
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: space-around;
}

.gallery-images img {
    width: 30%;
    border-radius: 5px;
}

.form-container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  color: #33080B;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f8f9fc;
}

.form-input::placeholder {
  color: #7a7a7a;
}

.textarea {
  height: 100px;
  resize: none;
}

.submit-button {
  background-color: #33080B;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #b6161c;
}

/* Footer */
footer {
    background: #8B0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}